<div class='footer'>
  <div class='footer-contents'>
    <h2 class='footer-content-title'>MUSIC SEARCHについて</h2>
    <div class="footer-main">
      <div class='footer-left'>
        <ul>
          <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
          <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
          <li><%= link_to 'MUSIC SEARCH利用規約', "#", class: "footer-link" %></li>
          <li><%= link_to 'ポイントに関する特約', "#", class: "footer-link" %></li>
        </ul>
      </div>
      <div class="footer-center">
        <ul>
          <li><%= link_to 'text検索', root_path, class: "footer-link" %></li>
          <li><%= link_to '選択肢検索', root_path, class: "footer-link" %></li>
        </ul>
      </div>
      <div class='footer-right'>
        <ul>
          <li><%= link_to 'MUSIC SEARCHガイド', "#", class: "footer-link" %></li>
          <li><%= link_to 'MUSIC SEARCHロゴ利用ガイドライン', "#", class: "footer-link" %></li>
          <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <%= link_to image_tag("original-app-logo5.png", class: "musicsearch-icon-footer"), "/" %>
  </div>
</div>